.todo-item-wrapper {
    padding: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 2px black;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: center;
    background-color: #6699CC;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 19px;
    transition: all .3s;
}

.inActive {
    background-color: lightgreen;
    box-shadow: 0 0 0;
}

.todo-item-title {
    grid-column: 1/4;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.todo-item-description {
    
}

.crossed-out {
    text-decoration: line-through;
}

.remove-button-wrapper > .remove-button {
    padding: 3px 11px;
    cursor: pointer;
    border-radius: 14px;
    letter-spacing: 1px;
    color: inherit;
    text-shadow: inherit;
    background-color: #C5D0E6;
    transition: .3s;
}

.inActive .remove-button {
    background-color: #6699CC;
}